* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

#divBenefit {
  display: flex;
  flex-direction: column;
  margin: 0 200px;
}

#divGallery {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#divBenefit img {
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 600px) {
    
    /* Universal id */
    h2 {
        text-align: center;
        margin-bottom: 25px;
        margin-top: 15px;
    }
    h3{
        margin-bottom: 15px;
        margin-top: 15px;
    }

    #desc {
        font-family: Helvetica;
        font-size: 18px;
        margin-top: 5px;
    }

    li {
        padding-bottom: 20px;
    }


    
    /* Navigation Bar */
#landingPage {
    padding: 0px;
    position: relative;
    background-color: black;
    text-align: center;
}

    #navBar {
        z-index: 1000;
        position: fixed;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #navBar ul {
        display: flex;
        width:auto;
        list-style: none;
        align-items: center;
        padding: 10px 0;        
    }
    
    #navBar ul li {
        font-size: 16px;
        font-weight: bold;

        margin-right: 18px;
        align-items: center;
        justify-content: center;
        
    }
    #navBar a {
        text-decoration: none;
        color: purple;
    }


    #home {
        margin-top: 0px;
        /* height: 100vh; */
        
        
    }

    #landingPage img  {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
        opacity: 35%;
        
    }

    #selar1{
        position: absolute;
        bottom: 28px;
        right: 20px;

    }

    button{
        border-radius: 50px;
        padding: 10px 20px;
        background-color: purple;
    }

    button a {
        text-decoration: none;
        color: white
    }
    button:hover {
        background-color: blueviolet;
        cursor: pointer;
    }

    span {
        color: grey;
    }
    #lpText {
        color: white;  
        font-family: "poppins", sans-serif ;
        font-weight: bold;
        font: 100;
        font-style: normal;
        font-size: large;
        margin: 10px;
        width: 64px;
        position: absolute;
        
        
    }
    
    /* Curriculum */
    
    #divCurriculum {
        margin: 0 30px;
        
    }

    
    #bonus {
        color: #973131;
        font-weight: bold;
        font-size: 30px;
    }

    #descBonus {
        font-family: Helvetica;
        font-size: 16px;
        margin: 5px 24px;
        font-style: normal;
    }

    /* Benefit */
    
    #divBenefit {
        margin: 0 30px;
        display: flex;
        flex-direction: column;
    }

    #divGallery {
        display: flex;
        flex-direction: column;
    }
    #divBenefit img {
        width: 100%;
        height: auto;
    }
    
    /* Tutor */
    
    #divRequirements {
        margin: 0 30px;
        position: relative;
    }
    
    #tutorImage {
        
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: auto;
    }

    #pRequirements{
        margin: 0 30px;
        display: flex;
        flex-direction: column;
    }
    
    #idContact {
        margin:0 30px;
    }
}



